*{
    margin: 0px ;
    padding: 0px;
}
.sect-1-hr{
    /* border: 2px solid hotpink; */
    height: 170vh;
}
.container-1{
    /* border: 2px solid red; */
    justify-content: center;
    display: flex;
}
.heading{
    /* border: 2px solid orange; */
    /* display: inline-block; */
    /* margin: auto; */
    /* width: 7rem; */
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;
}
.container-2{
    /* border: 2px solid fuchsia; */
    margin-top: 2rem;
    /* height: 25rem; */
    justify-content: center;
    /* display: flex; */
}
.box1{
    /* border: 2px solid forestgreen; */
    width: 30%;
    margin: auto;
    margin-top: 2rem;
    /* display: flex; */
}

.position{
    /* border: 2px solid purple; */
    font-family: 'Inter', sans-serif;
    display: inline-block;
    /* text-decoration: underline; */
    /* border: 2px solid red */
    border: none;
    /* border-bottom: 2px solid yellow; */
    border-bottom: 2px solid orange;

    /* display: inline-block; */
}
.bor{
    width: 80%;
}
.name{
    /* font-family: 'Baloo Bhaijaan 2', cursive; */
    /* border: 2px solid sandybrown; */
    /* margin-top: 10px; */
    margin:10px 0px 0px 1rem ;
    font-family: 'Inter', sans-serif;
    /* padding: 3px; */
}
.box-mar{
    margin-top: 1.5rem;
}

@media only screen and (max-width: 500px){
    .box1{
        width: 90%;
        padding: 1rem;
    }
}